// Variables
//

// Tables

$table-header-bg:              #d5dde0;
$table-header-border:          darken($table-header-bg, 12%);
$table-header-divider-border:  darken($table-header-bg, 8%);
$table-column-border:          $table-header-bg;
