// Application Styles
//

@import "variables";
@import "bootstrap-variables";

// 3rd party
@import "bootstrap";
@import "font-awesome";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

// Component styles
@import "pod-styles";
@import "modal";

body {
  // Push down the body content due to the fixed navbar
  padding-top: 4.5rem;
}

.toggle-error-btn {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}
