{{page-title "Channels"}}

{{#data-table}}
  <thead>
    <tr>
      <th>Name</th>
      <th class="col-channel-state">State</th>
      <th class="col-options"></th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedChannels as |channel|}}
      <tr>
        <td>{{channel.name}}</td>
        <td>
          {{channel-state state=channel.state}}
        </td>
        <td>
          {{#link-to "channels.details" channel.id class="btn btn-secondary btn-sm"}}
            {{fa-icon "search"}}
            View
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
{{/data-table}}
