// Data Table
//

& {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    vertical-align: middle;
    padding: $table-sm-cell-padding;
  }

  thead th {
    border-bottom: $table-border-width solid $table-header-border;
  }

  th {
    background: $table-header-bg;
    border-top: $table-border-width solid $table-header-border;
    border-left: $table-border-width solid $table-header-divider-border;

    &:first-child {
      border-left: $table-border-width solid $table-header-border;
    }

    &:last-child {
      border-right: $table-border-width solid $table-header-border;
    }
  }

  td {
    border-top: none;
    border-right: $table-border-width solid $table-column-border;
  }

  tbody td {
    &:last-child {
      border-right: none;
    }
  }
}

.col-options {
  width: 72px;
}

.no-records {
  margin: .5rem 0;
  text-align: center;
}

.table-actions {
  background: darken($table-header-border, 2%);
}
