// RAW Field Grid
//

.col-raw-column-number {
  width: 170px;
}

.col-raw-status {
  width: 125px;
}

.sortable-grid-header {
  color: $body-color;

  &:hover,
  &:focus {
    color: $body-color;
    text-decoration: none;
  }
}
