<nav class="navbar navbar-inverse fixed-top bg-inverse">
  <div class="container">
    {{#link-to "application" class="navbar-brand"}}
      Data Operations
    {{/link-to}}
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
